---
interface Props {
  title: string;
}

const { title } = Astro.props;


const getCookies = Astro.request.headers.get('cookie')

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
	<!-- {window.localStorage.getItem('modo')} -->
    <h1>
      La cookie obtenida es: {getCookies}
    </h1>
    <slot />
  </body>
</html>
<style is:global>
  body {
    background-color: #ccc;
  }
</style>
